
body{
    margin:0;
    padding: 0;
    font-size : 13px;
}
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.form-control{
   font-size : 13px;
}

.btn {
     font-size: 13px;

    &.btn-primary {
        background-color: $bluish;
        border-color : $bluish;
    }
}
.has-search {
    .form-control {
        padding-left: 2.375rem;
    }
    .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: $ash;
    }
}
.topnav-below-section{
    border-bottom: 1px solid #d2d2d2;
    .count-box{
        max-width: 175px;
        border: 1px solid #c6c6c65c;
        border-radius: 5px;
        margin-left: auto;
        padding: 10px;
        @media(max-width:768px){
            margin: auto;
        }

        .type{
            font-size: 12px;
            margin: 0;
        }
        .count{
            color: $ash;
            font-size: 20px;
            margin: 0;
        }
    }

    .vehicle-pic{
        width: 80px;
        height: 80px;
        background-color: $ash;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;

        h3{
            color: $white;
        }
        .vehicle-pic-edit{
            position: absolute;
            top: 4px;
            left: 4px;
            background-color: $white;
            padding: 0px 5px;
            opacity: 0;
            transition: all 0.5s;
        }
        &:hover{
            .vehicle-pic-edit{
                opacity: 1;
            }
        }
    }
    .vehicle-num{
        color: $black;
        font-weight: 600;
        &:hover{
            text-decoration: none;
            color:$bluish;
        }
    }

    .vehicle-details{
        span{
            font-size: 12px;
            color: $ash;
        }
    }

    .vehicle-editable-details{
        p,a{
            font-size: 14px;
        }
        .status{
            position: relative;
            .status-signal{
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $active-status;
                display: block;
                position: absolute;
                left: 1px;
                top: 14px;
            }
        }
        @media(max-width: 575px){
            flex-direction: column;
        }
    }

    .for-md-view{
        @media(max-width: 575px){
            text-align: center;
        }
    }
}

.panel{
    box-shadow: 0 1px 2px -2px rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.04),0 2px 5px 0 rgba(0,0,0,.06),0 0 0 1px rgba(0,0,0,.03);
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: $white;
    &.panel-default{
        border: 0;
    }
    .panel-body{
        padding: 16px;
    }
    .panel-header{
        color: #262c2d;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        background-color: $panel-bg-color ;
        border-bottom: 1px solid $panel-border-color;

        ul{
            margin:0;
            li{
                list-style: none;
            }
        }
    }
    .panel-footer{
        padding: 10px 15px;
        background-color: $panel-bg-color ;
        border-top: 1px solid $panel-border-color;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
}

// .card{
//     .card-header{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         ul{
//             margin: 0;
//             li{
//                 list-style: none;
//             }
//         }
//     }
// }

.main-section{
    background-color: $light-ash ;

    .content-side-nav{
        margin:10px 0px;
        .menu,.submenu{
            padding: 8px;
            color: $bluish;
            &:hover{
                background-color:$light-white;
                cursor: pointer;
                border-radius: 5px;
                text-decoration: none;
                color: $bluish;
                box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 0 0 1px rgba(0, 0, 0, 0.03);
            }
            &.active{
                background-color: $light-white;
                color: $black;
                border-radius: 5px;
                box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 0 0 1px rgba(0, 0, 0, 0.03);
            }
        }
        .submenu{
            list-style-type: none;
            padding: 8px 24px;
            margin: 0;
            a{
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    .content-top-nav{
        .menu{
            color:$ash;
            &.active,&:hover{
                color:$dark-ash;
                background-color: transparent;
                border: 1px solid transparent;
                border-bottom: 1px solid $bluish;
            }
        }

        .info-overview-show{
            display: flex;
            align-items: center;
            .count{
                span{
                    font-size: 34px;
                    font-weight: 600;
                    &.clr1{
                        color:$dark-blue;
                    }
                    &.clr2{
                        color: $bluish;
                    }
                    &.clr3{
                        color: $black;
                    }
                }
                .count-info{
                    font-size: 12px;
                    color:$ash;
                    margin-bottom: 0;
                }
            }
        }
    }
}


.topnav-sec{
    height: auto !important;
    padding: 0 !important;



    .topnav-left-part{
        display: flex;
        align-items: center;
        background-color: $bluish;
        //padding: 8px 0px;
        justify-content: space-between;
        .company-details{
            font-size: 14px;
            p{
                font-size: 12px;
            }
            .company-name{
                background-color:transparent;
                padding: 0 !important;
                color: $white;
                font-weight: 700;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .company-symbol{
            width: 30px;
            height: 30px;
            display: block;
            border-radius: 50%;
            background-color: $ash;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                color: $white;
                font-size: 12px;
            }
        }
        &:hover{
            cursor: pointer;
        }
    }

    .dropdown-show{
        top: 40px !important;
    }
    .topnav-right-part{
        i{
            color:$black;
            font-size: 20px;
        }
        @media (max-width:575px){
            .has-search{
                display: none;
            }
        }
    }
}


.sidenav{
    .nav-link{
        color:$light-blue !important;
        padding : 9px 20px !important;
        font-size : 14px;
        i{
            color: $light-blue !important;
        }
        &:hover{
            color:$white !important;
            // background-color: $bluish;
            i{
                color: $white !important;
            }
        }
        &.active{
            // background-color: #000;
        }
        &:focus{
            outline: none;
        }
    }
    .sb-sidenav-footer{
        font-size: 14px;
    }
}
