// Colors
$white : #fff;

$black : #000;

$ash : #a0a0a0;

$bluish : #004c84;

$light-blue : #8ba2b7;

$dark-blue : #98ccfd;

$light-ash : #ececec;

$dark-ash : #495057;

$light-white : #ffffffd9;

$active-status : #149417;